<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; background:#f4f4f4; min-height:100vh; padding:20px;">
  
  <div style="max-width:800px; margin:0 auto;">
    
    <h1 style="text-align:center; margin-bottom:20px;">
      🛒 Productos
    </h1>
  {{{body}}}
  </div>
</div>
</body>
</html>